body{
	font-family: Times Mew TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	background-color: #212121;
	text-shadow: -2px 2px black;
	color: white;
}
a{
	color: red;
}

h1, h2{
	color: #0187C6;
}